<p id="notice"><%= notice %></p>

<p>
  <b>Firstname:</b>
  <%= @participant.firstname %>
</p>

<p>
  <b>Lastname:</b>
  <%= @participant.lastname %>
</p>

<p>
  <b>Family:</b>
  <%= @participant.family %>
</p>

<p>
  <b>Address:</b>
  <%= @participant.address %>
</p>

<p>
  <b>Mailingaddress:</b>
  <%= @participant.mailingaddress %>
</p>

<p>
  <b>Email:</b>
  <%= @participant.email %>
</p>

<p>
  <b>Hphone:</b>
  <%= @participant.hphone %>
</p>

<p>
  <b>Wphone:</b>
  <%= @participant.wphone %>
</p>

<p>
  <b>Mobile:</b>
  <%= @participant.mobile %>
</p>

<p>
  <b>Emergencycontactdetails:</b>
  <%= @participant.emergencycontactdetails %>
</p>

<p>
  <b>Heardabout:</b>
  <%= @participant.heardabout %>
</p>

<p>
  <b>Moreinfo:</b>
  <%= @participant.moreinfo %>
</p>

<p>
  <b>Date:</b>
  <%= @participant.date %>
</p>


<%= link_to 'Edit', edit_participant_path(@participant) %> |
<%= link_to 'Back', participants_path %>
